@{
    ViewData["Title"] = "Home Page";
}

<style>
    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 6px 0px;
        border-radius: 15px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
    }

    #cy {
        height: 100%;
        width: 100%;
        display: block;
        border: solid;
        border-width: 1px;
    }
</style>

<div class="container" id="mainContainer">
    <form method="post" data-url="@Url.Action("GetGraph", "Home")">
        <div class="row">
            <div class="col-md-5 offset-md-4">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="txtNodeName" maxlength="3">
                    <label for="txtNodeName">Type a Node name</label>
                    <div class="valid-feedback d-block text-secondary"><em>Press 'ENTER' to add</em></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 offset-md-3">
                <div class="row">
                    <div class="col">
                        <label for="startNodeSelect">Start Node(s)</label>
                        <select class="form-control" id="startNodeSelect" aria-label="Start Node(s)" multiple size="1">
                        </select>
                    </div>

                    <div class="col">
                        <label for="endNodeSelect">End Node</label>
                        <select class="form-control" id="endNodeSelect" aria-label="End Node" disabled>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-8 offset-md-5">
                <button id="btnConnectNodes" type="button" class="btn btn-secondary">Connect Nodes selection</button>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-5 offset-md-5">
                <table id="nodeConnectionsTable" class="table table-borderless caption-top">
                    <caption>Node's connection</caption>
                    <thead class="table-light">
                        <tr class="d-flex">
                            <th scope="col" class="col-1">#</th>
                            <th scope="col" class="col-2">Node</th>
                            <th scope="col" class="col-0"></th>
                            <th scope="col" class="col-4">Connects To</th>
                        </tr>
                    </thead>
                    <tbody>
                        @* Data is populated dynamically *@
                    </tbody>

                </table>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-8 offset-md-5">
                <button id="btnCreateGraph" type="button" class="btn btn-secondary">Create Graph</button>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="graphModal" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Graph visualisation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="cy">
                            @* The graph is drawn here *@
                        </div>
                    </div>
                    <div class="modal-footer">
                        <fieldset>
                            <label>Graph grade:</label> <span>5</span>
                            <label>Graph's grade sum:</label> <span>13</span>
                            <label>Graph's lowest grade:</label> <span>2</span>
                            <label>Has cycle?:</label> <span>true</span>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="~/js/graphApi.js"></script>
<script src="~/js/graphDesigner.js"></script>

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var gd = new GraphDesigner();
        gd.init();
    });
</script>