@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <form method="post">
        <div class="row">
            <div class="col-md-5 offset-md-4">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Node 1" required>
                    <label for="floatingInput">Type a Node name</label>
                    <div class="valid-feedback d-block text-secondary"><em>Press 'ENTER' to add</em></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 offset-md-3">
                <div class="row">
                    <div class="col">
                        <label for="startNode">Start Node(s)</label>
                        <select class="form-control" id="startNode" aria-label="Start Node(s)" multiple size="6">
                        </select>
                    </div>

                    <div class="col">
                        <label for="endNode">End Node</label>
                        <select class="form-control" id="endNode" aria-label="Start Node(s)" multiple size="6">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
</div>