@{
    ViewData["Title"] = "Home Page";
}

<div class="container" id="mainContainer">
    <form method="post">
        <div class="row">
            <div class="col-md-5 offset-md-4">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="txtNodeName" placeholder="Node 1">
                    <label for="txtNodeName">Type a Node name</label>
                    <div class="valid-feedback d-block text-secondary"><em>Press 'ENTER' to add</em></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 offset-md-3">
                <div class="row">
                    <div class="col">
                        <label for="startNodeSelect">Start Node(s)</label>
                        <select class="form-control" id="startNodeSelect" aria-label="Start Node(s)" multiple size="1">
                        </select>
                    </div>

                    <div class="col">
                        <label for="endNodeSelect">End Node</label>
                        <select class="form-control" id="endNodeSelect" aria-label="End Node" disabled>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-md-8 offset-md-5">
                <button type="button" class="btn btn-light">Connect Nodes selection</button>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        (function () {

            function GraphApi() {
                var self = this;
                var nodes = [];

                self.addNode = function(name) {
                    nodes.push(name);
                }

                self.getNodes = function() {
                    return nodes;
                }
            }

            function GraphDesigner() {
                var self = this;
                var $container = $("#mainContainer");
                var $txtNodeName = $container.find("#txtNodeName");
                var $startNodeSelect = $container.find("#startNodeSelect");
                var $endNodeSelect = $container.find("#endNodeSelect");
                var graphApi = new GraphApi();

                $("form").submit(function(e) {
                    e.preventDefault();
                });

                $startNodeSelect.on("change",
                    function () {
                        var nodeNamesArray = $(this).val();

                        populateEndNodesTag();
                        removeOptionFromSelectTag($endNodeSelect, nodeNamesArray);
                        $endNodeSelect.prop("disabled", false);

                        if (nodeNamesArray.length === graphApi.getNodes().length) {
                            $endNodeSelect.prop("disabled", true);
                        }
                    });

                $txtNodeName.on("keypress",
                    function (e) {
                        if (e.which === 13) {
                            graphApi.addNode($txtNodeName.val());
                            appendOptionToSelectTag($startNodeSelect, $txtNodeName.val());
                            increaseSelectTagHeight();
                            populateEndNodesTag();
                            initializeTextInput();
                        }
                    });

                self.init = function() {
                    initializeTextInput();
                }

                function removeOptionFromSelectTag($selectTag, nodeNames) {
                    var id = $selectTag.attr("id");
                    $.each(nodeNames, function(i, val) {
                        var selector = "#".concat(id).concat(" option[value='").concat(val).concat("']");
                        var $option = $container.find(selector);

                        if ($option) {
                            $option.remove();
                        }
                    });

                }

                function resetEndNodesTag() {
                    $endNodeSelect.empty();
                    $endNodeSelect.append($("<option>").val("-1").text(""));
                }

                function populateEndNodesTag() {
                    var nodes = graphApi.getNodes();
                    var count = nodes.length;

                    if (count <= 1) {
                        return;
                    }
                    resetEndNodesTag();

                    $.each(nodes,
                        function (index, val) {
                            appendOptionToSelectTag($endNodeSelect, val);
                        });
                }

                function appendOptionToSelectTag($selectTag, text) {
                    var $newNode = $("<option>").val(text).text(text);
                    $selectTag.append($newNode);
                }

                function getNodesCount() {
                    //return $startNodeSelect.children("option").length;
                    return graphApi.getNodes().length;
                }

                function increaseSelectTagHeight() {
                    var startNodesCount = getNodesCount();

                    if (startNodesCount <= 10){
                        $startNodeSelect.attr("size", startNodesCount++);
                    }
                }

                function initializeTextInput() {
                    $txtNodeName.val('');
                    $txtNodeName.focus();
                }
            }

            new GraphDesigner().init();

        })();

    });
</script>